@media print {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/pony\/pony\/pony\/sass\/print\.scss}line{font-family:\000036}}
  a:link,
  a:visited {
    text-decoration: underline !important;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/pony\/pony\/pony\/sass\/print\.scss}line{font-family:\0000313}}
  #site-name a:link,
  #site-name a:visited {
    text-decoration: none !important;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/pony\/pony\/pony\/sass\/print\.scss}line{font-family:\0000320}}
  #content a[href]:after {
    content: " (" attr(href) ")";
    font-weight: normal;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/pony\/pony\/pony\/sass\/print\.scss}line{font-family:\0000327}}
  #content a[href^="javascript:"]:after,
  #content a[href^="#"]:after {
    content: "";
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/pony\/pony\/pony\/sass\/print\.scss}line{font-family:\0000332}}
  #content abbr[title]:after {
    content: " (" attr(title) ")";
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/pony\/pony\/pony\/sass\/print\.scss}line{font-family:\0000338}}
  #content {
    float: none;
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/pony\/pony\/pony\/sass\/print\.scss}line{font-family:\0000349}}
  body,
  #page,
  #main,
  #content {
    color: #000;
    background-color: transparent !important;
    background-image: none !important;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/pony\/pony\/pony\/sass\/print\.scss}line{font-family:\0000369}}
  #skip-link,
  #toolbar,
  #navigation,
  .region-sidebar-first,
  .region-sidebar-second,
  #footer,
  .breadcrumb,
  .tabs,
  .action-links,
  .links,
  .book-navigation,
  .forum-topic-navigation,
  .pager,
  .feed-icons {
    visibility: hidden;
    display: none;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/pony\/pony\/pony\/sass\/print\.scss}line{font-family:\0000376}}
  #page {
    overflow-y: visible;
  }
}
