
// Drupal Overlay 
// ----------------------------------------------------------------

.overlay-modal-background {
/*  background: transparent url(images/overlay-background.png) repeat; */
  background-image: none;
  background: rgba(0,0,0,0.4);
}