// Start

body { 
  margin : 0 auto;
  width : 100%;
  background-color : #f4f4ee; 
}


// Page Width
div[role=main],
div.footer-inner {

}
div[role=main] {

}


// Page Header
header[role=banner] {

}
@media all and (min-width: 600px) {
  header[role=banner] {

  }
}
@media all and (min-width: 768px) {
  header[role=banner] {

  }
  header[role=banner] img {

  }
}


// Main Navigation
nav[role=navigation] {
  clear: both;
  margin: 0;
  text-align: center;
  margin: 0.5em 0 0;
}
nav[role=navigation] a, 
nav[role=navigation] a:visited {

} 
nav[role=navigation] ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
ul.menu li {
    margin: 0;
}
nav[role=navigation] li {
  padding: 0 0.6em;
  display: inline;
  line-height: 1.3;
}
nav[role=navigation] li:first-child {
  padding-left: 0;
}
nav[role=navigation] li:last-child {
  padding-right: 0;
}
@media all and (min-width: 480px) {
  nav[role=navigation] {
  }
  nav[role=navigation] li {
  }
}
@media all and (min-width: 600px) {
  nav[role=navigation] {
  }
  nav[role=navigation] li {

  }
}
@media all and (min-width: 768px) {
  nav[role=navigation] {
  }
  nav[role=navigation] ul {
  }
  nav[role=navigation] li {
  }
}
@media all and (min-width: 860px) {
  nav[role=navigation] {
  }
  nav[role=navigation] li {
  }
}
@media all and (min-width: 1024px) {
  nav[role=navigation] {
  }
  nav[role=navigation] li {
  }
}


// Page Footer
footer[role="contentinfo"] {
  clear: both;
  background: #000;
  color: #fff;
  padding: 2em;
}
footer[role=contentinfo] a, 
footer[role=contentinfo] a:visited {
    color: #aaa;
    text-decoration: underline;
} 
footer[role=contentinfo] img {
  margin-bottom: 1em;
}
footer[role=contentinfo] ul {
  float: right;
  margin-bottom: 0;
}
footer[role=contentinfo] li {
  list-style: none;
  padding: 0 0.8em;
  float: left;
}
footer[role=contentinfo] li:first-child {
  padding-left: 0;
}
footer[role=contentinfo] li:last-child {
  padding-right: 0;
}
footer[role=contentinfo] p {
  margin-bottom: 0;
  line-height: 1.8;
}
@media all and (min-width: 480px) {
  footer[role=contentinfo] li {
    padding: 0 1.5em;
  }
}
@media all and (min-width: 768px) {
  footer[role=contentinfo] ul {
    padding-top: 1em;
  }
}


// Max Page Width
//@media all and (min-width: 1400px) {
//  header[role=banner],
//  div[role=main], 
//  div.footer-inner {
//    width: 1176px;
//  } 
//}

