
//  FORMS
// ----------------------------------------------------------------

input.form-submit, a.button {
  margin-right: 0.5em;
} // why are the buttons so far apart? Stupid fulgy.

form .field-multiple-table th.field-label {
  padding-left: 10px;
  padding-top: 4px;
} // Core field module overrides Seven styling for labels inside tables. Wha? Does Seven expect you aren't using fields?


ul.tips, 
div.description, 
.form-item div.description {
  line-height: 1.231em;
  font-size: 0.9em;
  color: #777;
}

.filter-guidelines {
  display: none; // Come on Drupal, all this blablablah text input directions, let's stop with exhaustion
} // Ideally this would be in a jQuery show/hide sliding thing

.filter-wrapper {
  color: #999;
  font-weight: normal;
  font-size: 0.8em;
}
.filter-wrapper label {
  font-weight: normal;
  margin-right: 0.7em;
}
.form-wrapper div.description {
  color: #999;
  font-weight: normal;
  font-size: 0.8em;
}


// OVERLAY ADJUSTMENTS
// ----------------------------------------------------------------

#overlay-content {
  min-height: 250px;
} // Making the overlay always be at least a certain height.

