@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/forms\.scss}line{font-family:\000035}}
.form-item {
  margin-bottom: 21px;
  margin-bottom: 2.1rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/forms\.scss}line{font-family:\0000327}}
textarea,
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='email'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='time'],
input[type='url'],
input[type='week'] {
  background-color: #fff;
  border: 1px solid #bbb;
  -moz-box-shadow: inset 0 1px 1px #ddd;
  -webkit-box-shadow: inset 0 1px 1px #ddd;
  box-shadow: inset 0 1px 1px #ddd;
  padding: 0.5em 0 0.5em 0.5em;
  width: 100%;
  color: #999;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/forms\.scss}line{font-family:\0000336}}
textarea {
  min-height: 10em;
  padding-bottom: 0;
  font-size: 16px;
  font-size: 1.6rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/forms\.scss}line{font-family:\0000342}}
input:focus, textarea:focus {
  border-color: #414141;
  color: #414141;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/forms\.scss}line{font-family:\0000348}}
.grippie {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/forms\.scss}line{font-family:\0000357}}
input.form-checkbox,
input.form-radio {
  vertical-align: top;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/forms\.scss}line{font-family:\0000361}}
.form-checkboxes .form-item,
.form-radios .form-item {
  margin: 0.3em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/forms\.scss}line{font-family:\0000365}}
.form-type-radio label,
.form-type-checkboxes label {
  color: #414141;
  line-height: 1em;
  margin-bottom: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/forms\.scss}line{font-family:\0000370}}
label.checkradio {
  color: #414141;
  line-height: 1em;
  margin-bottom: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/forms\.scss}line{font-family:\0000375}}
label.checkradio span.error {
  line-height: 1em;
  margin: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/forms\.scss}line{font-family:\0000380}}
input[type=checkbox] {
  width: auto;
  height: auto;
  position: relative;
  padding: 0;
  border: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/forms\.scss}line{font-family:\0000392}}
div.link-field-column .form-text {
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/forms\.scss}line{font-family:\0000395}}
div.link-field-column:first-child {
  float: left;
  width: 48%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/forms\.scss}line{font-family:\0000399}}
div.link-field-column:last-child {
  float: right;
  width: 48%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/forms\.scss}line{font-family:\00003103}}
.link-field-subrow .form-item {
  margin-top: 0;
  margin-bottom: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/forms\.scss}line{font-family:\00003112}}
.form-item label {
  display: block;
  font-weight: normal;
  margin-bottom: 0.2em;
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/forms\.scss}line{font-family:\00003118}}
.form-item label.option {
  display: inline;
  font-weight: normal;
  margin-bottom: 0.2em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/forms\.scss}line{font-family:\00003124}}
.container-inline div,
.container-inline label {
  display: inline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/forms\.scss}line{font-family:\00003131}}
.form-item .description {
  width: 100%;
  margin-top: 0.5em;
  margin-bottom: 21px;
  margin-bottom: 2.1rem;
  font-size: 0.85em;
  font-style: italic;
  line-height: 1.4em;
  color: #818181;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/forms\.scss}line{font-family:\00003147}}
.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 1px solid red;
  color: #414141;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/forms\.scss}line{font-family:\00003153}}
.form-required {
  color: #c00;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/forms\.scss}line{font-family:\00003159}}
.vertical-tabs-pane .form-item {
  margin-bottom: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/forms\.scss}line{font-family:\00003166}}
fieldset {
  display: block;
  width: 100%;
  margin-top: 2em;
  margin-bottom: 2em;
  overflow: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/forms\.scss}line{font-family:\00003173}}
fieldset legend {
  display: block;
  margin: 1em 0 0;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 400;
  color: #414141;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/forms\.scss}line{font-family:\00003181}}
fieldset .fieldset-wrapper {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

/* undo this for input filter fieldsets and vertical tabs*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/forms\.scss}line{font-family:\00003187}}
fieldset.filter-wrapper,
.vertical-tabs fieldset {
  display: block;
  width: auto;
  margin-top: 0;
  margin-bottom: 0;
  overflow: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/forms\.scss}line{font-family:\00003195}}
fieldset.filter-wrapper .fieldset-wrapper,
.vertical-tabs fieldset .fieldset-wrapper {
  border: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/forms\.scss}line{font-family:\00003208}}
div.submitarea,
#edit-actions {
  border-top: 1px solid #ddd;
  padding-top: 1em;
  margin-top: 1em;
  overflow: hidden;
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/forms\.scss}line{font-family:\00003216}}
div.submitarea p,
#edit-actions p {
  line-height: 2em;
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/forms\.scss}line{font-family:\00003221}}
form button,
button, input[type="reset"], input[type="submit"], input[type="button"] {
  margin-right: 0.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/forms\.scss}line{font-family:\00003226}}
.button,
button,
input[type="reset"], input[type="submit"], input[type="button"] {
  padding: 0.5em 1em;
  color: #fff;
  background: #4d94cc;
  font-weight: 700;
  display: inline-block;
  border: 1px solid #4d94cc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  position: relative;
  z-index: 101;
  cursor: pointer;
  box-shadow: none;
  font-size: 11px;
  font-size: 1.1rem;
  width: inherit;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/forms\.scss}line{font-family:\00003246}}
.button:hover, button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
  background: #fff;
  color: #256ca4;
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/forms\.scss}line{font-family:\00003257}}
.ie6-7 div.submitarea p {
  line-height: 2.8em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/forms\.scss}line{font-family:\00003261}}
.ie6-7 label.checkradio {
  padding-left: 2em;
  position: relative;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/forms\.scss}line{font-family:\00003266}}
.ie6-7 label.checkradio input {
  position: absolute;
  top: 0;
  left: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/forms\.scss}line{font-family:\00003272}}
.ie6-7 label.checkradio span.error {
  position: absolute;
  top: 0.3em;
  right: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/forms\.scss}line{font-family:\00003281}}
.filter-wrapper {
  border: 1px solid #e0e0e0;
  border-top: none;
  font-size: 0.85em;
  line-height: 1.2em;
  color: #818181;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/forms\.scss}line{font-family:\00003288}}
.filter-wrapper .form-item label {
  margin-right: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/forms\.scss}line{font-family:\00003298}}
#block-search-form {
  padding-right: 0.2em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/forms\.scss}line{font-family:\00003302}}
.container-inline div.submitarea,
.container-inline #edit-actions {
  border-top: none;
  clear: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/forms\.scss}line{font-family:\00003306}}
.container-inline input[type='search'] {
  width: 45%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/forms\.scss}line{font-family:\00003309}}
.container-inline .form-submit {
  margin-left: 2%;
  width: 45%;
}

@media only screen and (min-width: 320px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/forms\.scss}line{font-family:\00003314}}
  .container-inline input[type='search'] {
    width: 60%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/forms\.scss}line{font-family:\00003317}}
  .container-inline .form-submit {
    margin-left: 2%;
    width: 30%;
  }
}
@media only screen and (min-width: 360px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/forms\.scss}line{font-family:\00003323}}
  .container-inline input[type='search'] {
    width: 70%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/forms\.scss}line{font-family:\00003326}}
  .container-inline .form-submit {
    margin-left: 2%;
    width: 25%;
  }
}
@media only screen and (min-width: 768px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/forms\.scss}line{font-family:\00003332}}
  .container-inline input[type='search'] {
    width: 60%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/forms\.scss}line{font-family:\00003336}}
  .container-inline div.submitarea,
  .container-inline #edit-actions {
    margin-left: 2%;
    width: 30%;
  }
}
@media only screen and (min-width: 950px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/forms\.scss}line{font-family:\00003342}}
  .container-inline input[type='search'] {
    width: 65%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/forms\.scss}line{font-family:\00003346}}
  .container-inline div.submitarea,
  .container-inline #edit-actions {
    margin-left: 2%;
    width: 20%;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/forms\.scss}line{font-family:\00003353}}
.ie6-8 .container-inline input[type='search'] {
  width: 65%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/forms\.scss}line{font-family:\00003357}}
.ie6-8 .container-inline .form-submit {
  margin-left: 2%;
  width: 25%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/forms\.scss}line{font-family:\00003362}}
.ie6-8 .container-inline div.submitarea,
.ie6-8 .container-inline #edit-actions {
  margin-left: 2%;
  width: 20%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/forms\.scss}line{font-family:\00003370}}
#user-login-form {
  text-align: left;
  /* LTR */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/forms\.scss}line{font-family:\00003378}}
.password-parent,
.confirm-parent {
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/forms\.scss}line{font-family:\00003392}}
#user-login-form ul {
  margin-bottom: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/forms\.scss}line{font-family:\00003396}}
html.js #user-login-form li.openid-link,
#user-login-form li.openid-link {
  margin-top: 1.5em;
  margin-left: -20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/forms\.scss}line{font-family:\00003400}}
#user-login-form li.user-link {
  margin-top: 1.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/forms\.scss}line{font-family:\00003403}}
#user-login ul {
  margin: 1.5em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/forms\.scss}line{font-family:\00003412}}
form th {
  text-align: left;
  padding-right: 1em;
  border-bottom: 3px solid #ccc;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/forms\.scss}line{font-family:\00003417}}
form tbody {
  border-top: 1px solid #ccc;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/forms\.scss}line{font-family:\00003420}}
form tr.even {
  background-color: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/forms\.scss}line{font-family:\00003423}}
form table .item-list ul {
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/forms\.scss}line{font-family:\00003428}}
td.menu-disabled {
  background: #ccc;
}
