@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/page\.scss}line{font-family:\000033}}
body {
  margin: 0 auto;
  width: 100%;
  background-color: #f4f4ee;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/page\.scss}line{font-family:\0000340}}
nav[role=navigation] {
  clear: both;
  margin: 0;
  text-align: center;
  margin: 0.5em 0 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/page\.scss}line{font-family:\0000350}}
nav[role=navigation] ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/page\.scss}line{font-family:\0000356}}
ul.menu li {
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/page\.scss}line{font-family:\0000359}}
nav[role=navigation] li {
  padding: 0 0.6em;
  display: inline;
  line-height: 1.3;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/page\.scss}line{font-family:\0000364}}
nav[role=navigation] li:first-child {
  padding-left: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/page\.scss}line{font-family:\0000367}}
nav[role=navigation] li:last-child {
  padding-right: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/page\.scss}line{font-family:\00003106}}
footer[role="contentinfo"] {
  clear: both;
  background: #000;
  color: #fff;
  padding: 2em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/page\.scss}line{font-family:\00003113}}
footer[role=contentinfo] a,
footer[role=contentinfo] a:visited {
  color: #aaa;
  text-decoration: underline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/page\.scss}line{font-family:\00003117}}
footer[role=contentinfo] img {
  margin-bottom: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/page\.scss}line{font-family:\00003120}}
footer[role=contentinfo] ul {
  float: right;
  margin-bottom: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/page\.scss}line{font-family:\00003124}}
footer[role=contentinfo] li {
  list-style: none;
  padding: 0 0.8em;
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/page\.scss}line{font-family:\00003129}}
footer[role=contentinfo] li:first-child {
  padding-left: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/page\.scss}line{font-family:\00003132}}
footer[role=contentinfo] li:last-child {
  padding-right: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/page\.scss}line{font-family:\00003135}}
footer[role=contentinfo] p {
  margin-bottom: 0;
  line-height: 1.8;
}

@media all and (min-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/page\.scss}line{font-family:\00003140}}
  footer[role=contentinfo] li {
    padding: 0 1.5em;
  }
}
@media all and (min-width: 768px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/page\.scss}line{font-family:\00003145}}
  footer[role=contentinfo] ul {
    padding-top: 1em;
  }
}
