@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/typography\.scss}line{font-family:\000035}}
html {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  line-height: 1.8em;
  color: #333;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/typography\.scss}line{font-family:\0000310}}
body {
  font-size: 0.95em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/typography\.scss}line{font-family:\0000320}}
a,
a:visited {
  outline: none;
  color: #4b91b7;
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/typography\.scss}line{font-family:\0000326}}
a:hover,
li a.active:hover {
  outline: none;
  color: #889a9f;
  text-decoration: underline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/typography\.scss}line{font-family:\0000332}}
a:active,
a:focus {
  outline: none;
  color: #000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/typography\.scss}line{font-family:\0000336}}
a:link {
  -webkit-tap-highlight-color: #ffffb3;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/typography\.scss}line{font-family:\0000339}}
li a.active {
  color: #4eaebb;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/typography\.scss}line{font-family:\0000342}}
::-webkit-selection {
  background: #ffffb3;
  text-shadow: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/typography\.scss}line{font-family:\0000346}}
::-moz-selection {
  background: #ffffb3;
  text-shadow: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/typography\.scss}line{font-family:\0000350}}
::selection {
  background: #ffffb3;
  text-shadow: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/typography\.scss}line{font-family:\0000360}}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
  line-height: 1.1;
  font-weight: normal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/typography\.scss}line{font-family:\0000366}}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
  line-height: 1.2;
  font-weight: normal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/typography\.scss}line{font-family:\0000372}}
h3 {
  font-size: 1.17em;
  margin: 0 0 1em;
  line-height: 1.17;
  font-weight: normal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/typography\.scss}line{font-family:\0000378}}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
  line-height: 1.25;
  font-weight: normal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/typography\.scss}line{font-family:\0000384}}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
  line-height: 1.6;
  font-weight: normal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/typography\.scss}line{font-family:\0000390}}
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
  line-height: 1.6;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/typography\.scss}line{font-family:\0000396}}
h1#site-name {
  margin-top: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/typography\.scss}line{font-family:\00003210}}
p,
ol,
ul,
dl,
address {
  margin: 0 0 1.4em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/typography\.scss}line{font-family:\00003213}}
p:last-child {
  margin-bottom: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/typography\.scss}line{font-family:\00003217}}
ul {
  margin: 0 0 1.5em 0;
  padding-left: 1.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/typography\.scss}line{font-family:\00003221}}
ol {
  margin: 0 0 1.5em 0;
  padding-left: 2.5em;
  list-style-type: decimal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/typography\.scss}line{font-family:\00003228}}
li ul,
li ol {
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/typography\.scss}line{font-family:\00003232}}
blockquote {
  margin: 0 0 1.5em 0;
  padding-left: 24px;
  border-left: 1px solid #c8c8c8;
  font-style: italic;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/typography\.scss}line{font-family:\00003239}}
hr {
  height: 1px;
  border-top: 1px solid #cccccc;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/typography\.scss}line{font-family:\00003271}}
a.button {
  color: #fff;
  background: #f77708;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  padding: 4px 25px;
  text-align: center;
  display: inline-block;
  margin: 25px 0;
  font-weight: bold;
  font-size: 0.8em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/typography\.scss}line{font-family:\00003284}}
a.button:hover {
  background: red;
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/jensimmons\/Sites\/annenberg\/metabolic\/sites\/all\/themes\/pony\/pony\/sass\/typography\.scss}line{font-family:\00003312}}
textarea,
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='email'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='time'],
input[type='url'],
input[type='week'] {
  font-size: 14px;
}
